html, body {
  height: 100%;
}
.container {
  background-color: gray;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 150px;
  color: red;
  border: 1px solid black;
} 

.clock {
  padding-top: 17%;
  font-family: 'Ceviche One', cursive;
}







